---
import { Icon } from 'astro-icon';

import { SITE } from '~/config.mjs';

import Layout from '~/layouts/BlogLayout.astro';
import Item from '~/components/blog/ReleaseItem.astro';

import { fetchReleases } from '~/utils/releases';
import { getCanonical, getPermalink, getRelativeLink } from '~/utils/permalinks';

const meta = {
	title: `Releases — ${SITE.name}`,
	description: SITE.description,
	canonical: getCanonical(getPermalink('releases')),
	ogType: 'blog',
	additionalLinkTags: [{ rel: 'alternate', type: 'application/rss+xml', href: './rss.xml' }],
};

const releases = await fetchReleases();
---

<Layout {meta}>
	<Fragment slot="title">
		Forgejo Releases
		<a
			class="text-zinc-500 dark:text-zinc-400 hover:bg-primary-100 dark:hover:bg-steel-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
			aria-label="RSS Feed"
			href={getRelativeLink('releases/rss.xml')}
		>
			<Icon name="tabler:rss" class="w-8 h-8" />
		</a>
	</Fragment>
	<ul>
		{
			releases.map((release) => (
				<li class="mb-2.5">
					<Item release={release} />
				</li>
			))
		}
	</ul>
</Layout>
